.form-field {
  width: 100%;

  &:has(label) {
    position: relative;
    margin-top: 14px;

    label {
      position: absolute;
      left: 12px;
      top: -10px;
      height: 11px;
      background: white;
      padding: 0 8px;
      z-index: 1;
      @apply text-sm;
    }
  }

  &:has(select) {
    select {
      width: 100%;
      height: 42px;
      padding: 10px 16px;
      border-radius: 10px;
      border: 1px solid var(--input-outline);

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

  textarea {
    min-height: 100px;
    width: 100%;
    padding: 8px 18px;
    border-radius: 10px;
    border: 1px solid var(--input-outline);
    @apply transition-colors duration-300 ease-linear;
    @apply focus:ring-2 ring-tonal outline-none;
  }

  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="text"] {
    height: 42px;
    width: 100%;
    padding: 8px 18px;
    border-radius: 10px;
    border: 1px solid var(--input-outline);
    @apply transition-all duration-300 ease-linear;
    @apply focus:ring-2 ring-tonal outline-none;
  }
}

.form-field.error {
  label {
    color: var(--error);
  }

  input {
    border: 1px solid var(--error);
    @apply focus:ring-2 ring-error-shadow outline-none;
  }

  .error-message {
    color: var(--error);
    @apply text-xs mt-1;
  }
}
