.input {
  transition: none !important;
}

.inputFocused {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: 0 !important;
}

ul.listItems {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @apply absolute z-50 bg-white w-full border-input-outline;
  @apply border max-h-[128px] overflow-y-auto;
  @apply shadow;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 0;

  button {
    width: 100%;
    padding: 4px 18px;
    font-weight: normal !important;
    align-items: start !important;
    @apply duration-0;
  }

  button:hover {
    background-color: var(--primary);
    color: white;
    width: 100%;
  }
}
